{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "globals": {
    "document": true,
    "console": true,
    "debugger": true
  },
  "rules": {
    "no-console": 0,
    "no-debugger": 0
  }
}
